{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"ecmaFeatures": {
		"modules": true
	},
	"globals": {
		"fetch": true,
		"angular": false,
		"chai": true,
		"describe": true,
		"beforeEach": true,
		"it": true,
		"inject": true
	},
	"parser": "babel-eslint",
	"rules": {
		"brace-style": [
			2,
			"1tbs"
		],
		"comma-spacing": [
			2,
			{
				"before": false,
				"after": true
			}
		],
		"comma-style": [
			2,
			"last"
		],
		"curly": [
			2,
			"all"
		],
		"eqeqeq": 2,
		"new-cap": 2,
		"no-bitwise": 2,
		"no-caller": 2,
		"no-class": 1,
		"no-eval": 2,
		"no-fallthrough": 2,
		"no-floating-decimal": 1,
		"no-implied-eval": 2,
		"no-irregular-whitespace": 2,
		"no-loop-func": 1,
		"no-new-func": 1,
		"no-new-wrappers": 2,
		"no-new": 1,
		"no-proto": 2,
		"no-script-url": 2,
		"no-trailing-spaces": 2,
		"no-undef": 2,
		"no-unused-vars": 2,
		"no-useless-call": 2,
		"no-with": 2,
		"radix": 2,
		"quotes": [
			2,
			"single",
			"avoid-escape"
		],
		"semi": [
			2,
			"always"
		],
		"strict": [
			1,
			"never"
		],
		"vars-on-top": 1,
		"wrap-iife": [
			2,
			"inside"
		],
		"yoda": [
			2,
			"never",
			{
				"exceptRange": true
			}
		],
		"arrow-spacing": 2,
		"prefer-const": 1
	}
}
